@media only screen and (min-width: 768px) {
    #menu {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav li {
        border: none;
    }

    nav a {
        padding: 1rem 2rem;
    }

    #members.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #members.list .member-card {
        display: grid;
        grid-template-columns: 2fr 2fr 1.5fr 1fr;
        gap: 1rem;
        align-items: center;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        text-align: left;
        align-items: center;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-dev {
        text-align: right;
    }
}