* {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

img {
    border-style: none;
    max-width: 100%;
}

button {
    font-family: inherit;
    font-size: 100%;
}